.principal{
	background: white ;
}

.costado{
	background: yellow;
}

body{
	/*E padding alinea el body con el nav fixed*/
	padding-top: 60px;
	background: rgba(228,235,242,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(228,235,242,1) 0%, rgba(62,197,192,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(228,235,242,1)), color-stop(100%, rgba(62,197,192,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(228,235,242,1) 0%, rgba(62,197,192,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(228,235,242,1) 0%, rgba(62,197,192,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(228,235,242,1) 0%, rgba(62,197,192,1) 100%);
background: radial-gradient(ellipse at center, rgba(228,235,242,1) 0%, rgba(62,197,192,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4ebf2', endColorstr='#3ec5c0', GradientType=1 );
}
.container-principal{
	
}
div.novedad, div.video{
	background-color: #CCC;
}
/* navbar */
.navlog{
	border: 0px solid #333;
	display: none;
	position: relative;
}
nav button.btn {
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 12px;
  margin: 0;
  padding: 7px;
}
/* fin navbar */

/*MARGEN PARA EL NAV DEL ADMIN*/
div.margen-admin{
	margin-top: !important 50px;
}
/*div.menu-admin{
	position: absolute;
	top:50px; 
	background-color: #FFF;
	width: 100%;
}*/
/*FOOTER*/
div.footer, .footer.row{
	background: #04baae ;
	
	border-radius: 1em;
}

.down {

background: white;
color: black;

}


.caja{

background: yellow;



}